@using Domain.Currencies.BaseCurrency
@using Domain.Balances
@model IEnumerable<Domain.Users.User>

@{
    ViewData["Title"] = "MangoCoin: Admin Page";
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/AdminPage.css" />
<h1>Admin Page</h1>

<table class="table">
    <thead>
        <tr>
            <th>User ID</th>
            <th>Name</th>
            <th>User Key</th>
            <th>Wallet Key</th>
            <th>Balances</th>
            <th>Delete?</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.Name @(user.IsAdmin ? "(Admin)" : "")</td>
                <td>@user.Key</td>
                <td>@user.UserWallet.WalletKey</td>
                <td>
                    <ul>
                        @foreach (var balance in user.UserWallet?.CurrencyBalances ?? Enumerable.Empty<CurrencyBalance>())
                        {
                            <li>@CurrencyMetaDataProvider.GetCurrencyName(balance.CurrencyType): @balance.Balance</li>
                        }
                    </ul>
                </td>
                <td>
                    <form asp-action="DeleteUser" asp-controller="Admin" method="post">
                        <input type="hidden" name="userKey" value="@user.Key" />
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<button id="add-user-btn" class="btn">Add New User</button>

<div id="add-user-modal" class="modal hidden">
    <div class="modal-content">
        <h2>Add New User</h2>
        <form asp-action="AddUser" asp-controller="Admin" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required />
        
            <label for="passkey">Passkey:</label>
            <input type="text" id="passkey" name="passkey" required />
        
            <button type="submit" class="btn">Add User</button>
        </form>
        <button id="close-modal-btn" class="btn btn-danger">Cancel</button>
    </div>
</div>

<script>
    document.getElementById('add-user-btn').addEventListener('click', () => {
        document.getElementById('add-user-modal').classList.remove('hidden');
    });

    document.getElementById('close-modal-btn').addEventListener('click', () => {
        document.getElementById('add-user-modal').classList.add('hidden');
    });
</script>